In [1]:
import pandas as pd


data = pd.read_csv('../rawdata/깐부치킨_매장데이터.csv', encoding='UTF8')

In [2]:
CD = sorted(list(set(data['매장코드'])))    #매장코드만 리스트로 추출 및 오름차순 정렬
CD

['S23991',
 'S23992',
 'S24004',
 'S24023',
 'S24036',
 'S24077',
 'S24088',
 'S24101',
 'S31130',
 'S35539',
 'S36322',
 'S36329',
 'S37219',
 'S41446',
 'S42681',
 'S48814',
 'S49287',
 'S54785',
 'S56417',
 'S70964',
 'S95349',
 'T00602',
 'T06644',
 'T18671',
 'T46063',
 'T50791',
 'T53532',
 'T74630',
 'T78908',
 'T79908',
 'T86552',
 'T88625',
 'U06529',
 'U11422']

In [3]:
#테스트(한 점포만 진행, 밑 코드와 똑같음!!!)
cd = CD[0]
df = pd.DataFrame(data[data['매장코드']==cd])   

menu = df['상품명'] #상품명만 뽑기
menulist = dict()   #메뉴
menuName = list(set(df['상품명']))
for m in menuName : menulist[m] = 0
for m in menu :
    if m in menulist.keys() : menulist[m] += 1
    else : print("")

DATA = dict()
DATA['매장코드'] = [cd] * len(menu)
DATA['매장명'] = [list(df[df['매장코드']==cd]['매장명'])[0]] * len(menu)
DATA['상품명'] = list(menulist.keys())
DATA['팔린 개수'] = list(menulist.values())

In [4]:
for cd in CD :  
    df = pd.DataFrame(data[data['매장코드']==cd])   #매장코드가 cd인 데이터만 골라 데이터프레임 만들기

    #딕셔너리 형태로 상품명과 상품명에 따른 주문 횟수를 카운트하는 과정.
    #저장한 뒤 keys(), values() 함수를 사용해 각 열에 들어갈 품명과 판매 갯수를 추출할 것.

    menu = df['상품명'] #판매된 상품명만 가져오기
    menulist = dict()   #{상품명 : 횟수, 상품명 : 횟수, ...} 형식으로 저장할 변수 선언

    for m in list(set(menu)) : menulist[m] = 0  # {상품명A : 0, 상품명B : 0, ... } 형식으로 menulist 설정
    for m in menu :     #menu 변수의 상품명 등장 횟수 카운트
        if m in menulist.keys() : menulist[m] += 1
        else : print("X")    #만약 menu 변수 안에 상품명이 없다면 X 출력(그럴 리는 없지만 혹시 모를 경우 대비)

    #데이터프레임을 만들 데이터 만들기. 
    #매장코드와 매장명의 경우, 상품명 및 팔린 개수와 수가 같아야하기 때문에 해당 매장에서 판매하는 상품 개수만큼 곱해서 수를 맞춰줌.
    DATA = dict()
    DATA['매장코드'] = [cd] * len(menulist.keys())  #매장코드 * 상품 갯수
    DATA['매장명'] = [list(df[df['매장코드']==cd]['매장명'])[0]] * len(menulist.keys()) #매장코드(cd)를 활용해 매장명 추출
    DATA['상품명'] = list(menulist.keys())
    DATA['팔린 개수'] = list(menulist.values())

    #데이터프레임 만들기
    #cd가 CD 중 맨 처음 값일 경우, 데이터프레임을 새로 생성하기. 그 외의 경우에는 append로 값 추가
    if cd == CD[0] : menuData = pd.DataFrame(DATA).sort_values(by=['팔린 개수'], axis=0, ascending=False)
    else : menuData = menuData.append(pd.DataFrame(DATA).sort_values(by=['팔린 개수'], axis=0, ascending=False), ignore_index=True)

In [5]:
menuData

        매장코드               매장명           상품명  팔린 개수
0     S23991  깐부치킨(강남구청역1번출구점)     생맥주 500cc    281
1     S23991  깐부치킨(강남구청역1번출구점)        순살크리스피    143
2     S23991  깐부치킨(강남구청역1번출구점)          후라이드    131
3     S23991  깐부치킨(강남구청역1번출구점)            소주    104
4     S23991  깐부치킨(강남구청역1번출구점)            콜라     98
...      ...               ...           ...    ...
1847  U11422         깐부치킨(청담1)   토모마스사이다(메론)      1
1848  U11422         깐부치킨(청담1)           사이다      1
1849  U11422         깐부치킨(청담1)  토모마스사이다(복숭아)      1
1850  U11422         깐부치킨(청담1)           불사조      1
1851  U11422         깐부치킨(청담1)     아리조나(그린티)      1

[1852 rows x 4 columns]

In [6]:
menuData.to_csv('../rawdata/깐부치킨_매장별_상품별 팔린 개수.csv', index=False) #저장

In [7]:
test = pd.read_csv('../rawdata/깐부치킨_매장별_상품별 팔린 개수.csv', encoding='UTF8')  #제대로 저장 됐는지 테스트
test

        매장코드               매장명           상품명  팔린 개수
0     S23991  깐부치킨(강남구청역1번출구점)     생맥주 500cc    281
1     S23991  깐부치킨(강남구청역1번출구점)        순살크리스피    143
2     S23991  깐부치킨(강남구청역1번출구점)          후라이드    131
3     S23991  깐부치킨(강남구청역1번출구점)            소주    104
4     S23991  깐부치킨(강남구청역1번출구점)            콜라     98
...      ...               ...           ...    ...
1847  U11422         깐부치킨(청담1)   토모마스사이다(메론)      1
1848  U11422         깐부치킨(청담1)           사이다      1
1849  U11422         깐부치킨(청담1)  토모마스사이다(복숭아)      1
1850  U11422         깐부치킨(청담1)           불사조      1
1851  U11422         깐부치킨(청담1)     아리조나(그린티)      1

[1852 rows x 4 columns]