In [2]:
import pandas as pd

# 행정동 매핑 데이터 load
code = pd.read_excel("../resources/rawdata/행정동코드_매핑정보_20200325.xlsx")

# 생활인구 데이터 load
active = pd.read_csv("../resources/rawdata/서울시 활동인구_201902.csv", index_col =False)

In [3]:
# 데이터 확인 후 column 영문으로 수정 
code 
code.columns = code.iloc[0]
code = code[1:]
code

0   H_SDNG_CD  H_DNG_CD DO_NM CT_NM H_DNG_NM
1     1101053  11110530    서울   종로구      사직동
2     1101054  11110540    서울   종로구      삼청동
3     1101055  11110550    서울   종로구      부암동
4     1101056  11110560    서울   종로구      평창동
5     1101057  11110570    서울   종로구      무악동
..        ...       ...   ...   ...      ...
420   1125070  11740690    서울   강동구     둔촌1동
421   1125071  11740700    서울   강동구     둔촌2동
422   1125072  11740570    서울   강동구     암사1동
423   1125073  11740610    서울   강동구     천호2동
424   1125074  11740685    서울   강동구       길동

[424 rows x 5 columns]

In [4]:
# 강남구 코드만 sorting
code_gangnam = code[code["CT_NM"] == "강남구"]
code_gangnam

0   H_SDNG_CD  H_DNG_CD DO_NM CT_NM H_DNG_NM
358   1123051  11680510    서울   강남구      신사동
359   1123052  11680521    서울   강남구     논현1동
360   1123053  11680531    서울   강남구     논현2동
361   1123058  11680580    서울   강남구     삼성1동
362   1123059  11680590    서울   강남구     삼성2동
363   1123060  11680600    서울   강남구     대치1동
364   1123063  11680630    서울   강남구     대치4동
365   1123064  11680640    서울   강남구     역삼1동
366   1123065  11680650    서울   강남구     역삼2동
367   1123066  11680655    서울   강남구     도곡1동
368   1123067  11680656    서울   강남구     도곡2동
369   1123068  11680660    서울   강남구     개포1동
370   1123071  11680690    서울   강남구     개포4동
371   1123072  11680720    서울   강남구     일원본동
372   1123073  11680730    서울   강남구     일원1동
373   1123074  11680740    서울   강남구     일원2동
374   1123075  11680750    서울   강남구      수서동
375   1123076  11680700    서울   강남구      세곡동
376   1123077  11680545    서울   강남구     압구정동
377   1123078  11680565    서울   강남구      청담동
378   1123079  11680610    서울   강남구     대치2동
379   1123080  11680670    서울   강남구     개포2동

In [5]:
# 생활인구 데이터 확인
active

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20190201,0,11710531,12850.4342,449.5154,317.3049,345.2391,459.6580,450.0806,387.2608,...,386.3418,353.1415,430.0506,473.4026,536.4401,567.2805,620.7974,555.0947,340.9355,957.3833
1,20190201,0,11305600,14427.0907,408.0010,239.2000,313.6002,384.6307,433.0083,380.1810,...,490.1404,379.9183,462.1661,505.8532,611.1440,608.3622,758.7876,629.8711,595.2470,1491.0419
2,20190201,0,11680565,38042.4093,1267.8407,605.5070,703.0824,957.2338,1429.9007,1689.6720,...,1740.3979,1957.3549,1957.4407,1507.3750,1532.2262,1185.7230,1277.9111,1297.0529,1001.3580,2338.8249
3,20190201,0,11470620,15932.7326,628.2261,527.6592,617.9301,479.2693,355.9005,360.8211,...,426.9148,386.0623,640.6370,805.7004,881.8207,681.8794,559.5025,505.7954,425.1411,867.2452
4,20190201,0,11560535,38219.6259,689.5669,270.9443,582.7321,1396.8599,2696.4849,2513.3967,...,2686.0872,2109.1805,1847.5768,1077.4695,1116.3253,973.3678,1060.9955,1118.8704,719.1841,1767.4652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284923,20190228,23,11740610,45519.3625,1678.3499,750.3221,989.0107,1215.9012,1694.4225,1914.8749,...,1916.3980,1811.9453,1934.3011,1587.9223,1665.6083,1737.0815,2198.2428,1900.6392,1354.2309,3302.1066
284924,20190228,23,11740600,49576.1240,2499.9718,1211.0505,1430.5830,1176.0639,1273.5134,1380.1530,...,1436.8219,1604.1450,2149.0850,1795.6231,2040.1682,1842.4206,2256.3528,2278.8235,1624.4511,3555.2934
284925,20190228,23,11740590,16007.8951,987.4774,461.5389,425.6182,289.8292,375.7707,424.3457,...,404.8133,481.9354,800.4514,744.2357,670.8774,603.7307,691.4425,596.7264,417.4122,911.2457
284926,20190228,23,11740690,7077.5290,274.3460,207.9260,332.0504,174.0587,168.1289,183.3277,...,176.6616,204.2166,281.4401,292.0752,298.8976,246.3752,327.5013,273.8968,221.4713,608.8445
284927,20190228,23,11740685,57939.5354,1804.7814,872.7313,1371.4269,1469.9532,1885.2820,2107.5513,...,1990.8540,1895.1378,2323.4954,2232.3270,2607.2496,2247.2523,2943.4136,2647.1419,1988.6110,3808.5569

In [15]:
# 강남구 데이터만 소팅
active_gangnam = pd.DataFrame(columns=active.columns)
code = list(code_gangnam["H_DNG_CD"].astype(int))
for c in code :
    active_gangnam = active_gangnam.append(active[active["행정동코드"] == c])

In [16]:
active_gangnam

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
410,20190201,0,11680510,26752.5432,563.8963,410.1899,570.1889,792.1688,1158.7531,1217.0139,...,1397.5411,1246.2959,1299.4936,963.9420,1107.0690,749.5598,670.4103,716.6380,629.3674,2024.1316
698,20190201,1,11680510,25701.2537,576.0003,418.9948,526.6946,758.5217,1078.8753,1174.6325,...,1294.9864,1201.9913,1208.1536,913.5108,1099.7188,741.2923,646.7027,716.4326,607.8684,1956.8963
1101,20190201,2,11680510,24941.5901,579.1530,421.2881,521.6842,694.7661,995.9331,1091.2880,...,1223.9853,1154.7984,1198.0928,901.4902,1076.0821,751.7137,642.9858,703.0550,597.7569,1943.9938
1622,20190201,3,11680510,24610.2157,563.3941,409.8246,516.8302,641.7059,945.4783,1055.2459,...,1191.2048,1118.6573,1201.2927,886.9096,1090.7126,741.2003,648.1238,699.3236,598.2025,1981.7525
1853,20190201,4,11680510,24513.0959,568.8512,413.7945,521.4891,602.8600,953.5524,1030.4982,...,1173.2671,1105.8570,1186.6025,896.7490,1086.3043,749.9742,660.9899,703.6347,631.3607,1983.7939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283182,20190228,19,11680670,15598.5083,629.7152,529.7603,577.9078,406.0536,342.7552,304.7581,...,276.0410,346.5322,605.2101,697.3558,777.4239,653.4086,679.6670,656.4505,667.4657,1130.9262
283595,20190228,20,11680670,15586.5622,620.4897,521.9989,586.3056,391.1336,343.3515,341.9090,...,273.9134,318.1739,596.7864,736.5437,795.6138,703.3631,704.2902,662.5472,658.6966,1087.8363
283988,20190228,21,11680670,15293.5939,533.1753,448.5436,602.8761,388.8255,322.5559,364.5970,...,280.7637,279.8347,531.9943,685.7822,781.0321,649.8066,638.3517,673.3672,608.0976,1139.1033
284469,20190228,22,11680670,14800.2567,527.5276,443.7923,600.7015,426.4734,342.4174,311.3052,...,272.4702,302.8309,511.9762,688.7804,750.1503,632.4037,634.0159,635.2853,576.2280,988.0257
284888,20190228,23,11680670,12117.6710,466.2526,392.2444,465.8539,397.9444,279.5459,235.3326,...,245.8608,208.6068,425.3295,625.3754,606.5383,535.3182,543.5768,536.5764,413.2592,631.1388

In [32]:
## 일평균 시간 구하기 
import numpy as np
active_gangnam = active_gangnam.iloc[:,[0,1,2,3]]
#active_gangnam_processed = pd.DataFrame(columns=["기준일ID","행정동코드","평균생활인구수","주중/주말"])
#active_gangnam_processed = active_gangnam.groupby(active_gangnam["기준일ID"],active_gangnam["행정동코드"])
active_gangnam_processed = pd.DataFrame(active_gangnam.groupby(["기준일ID","행정동코드"], as_index=False)["총생활인구수"].mean())

In [39]:
# 컬럼명 변경
active_gangnam_processed.columns= ["기준일ID","행정동코드","일별평균생활인구수"]

# 요일 컬럼 추가
import datetime
active_gangnam_processed["기준일ID"] = pd.to_datetime(active_gangnam_processed["기준일ID"], format="%Y%m%d")
# 0-월, 1-화 ... 5-토,6-일
active_gangnam_processed["요일"] = active_gangnam_processed["기준일ID"].dt.weekday

In [ ]:
# 주중 평균과 주말 평균 구하기

In [40]:
active_gangnam_processed

         기준일ID     행정동코드     일별평균생활인구수  요일
0   2019-02-01  11680510  41333.031354   4
1   2019-02-01  11680521  48421.468483   4
2   2019-02-01  11680531  47953.897750   4
3   2019-02-01  11680545  50700.607192   4
4   2019-02-01  11680565  46498.606117   4
..         ...       ...           ...  ..
611 2019-02-28  11680700  43056.531092   3
612 2019-02-28  11680720  24492.543087   3
613 2019-02-28  11680730  19668.364442   3
614 2019-02-28  11680740  15722.618012   3
615 2019-02-28  11680750  26532.656279   3

[616 rows x 4 columns]