In [27]:
#좌표계 변환 파이썬 코드( epsg:2097 -> epsg:5179 )

import pandas as pd
import numpy as np
import pyproj

In [28]:
#갖고 있는 데이터 pandas dataframe으로 호출
df = pd.read_csv("../extractedData/chicken_competitors_2019.csv",
    encoding='utf8', #cp949 또는 utf8
    usecols=['좌표정보(X)','좌표정보(Y)'])

In [29]:
df

           좌표정보(X)        좌표정보(Y)
0    204359.310905  446886.095685
1    205707.089400  443914.194133
2    203599.250677  444863.862847
3    209423.649311  440208.558412
4    209423.649311  440208.558412
..             ...            ...
503  205395.382046  444052.169320
504  205180.099606  445840.131666
505  203865.902405  442581.277663
506  210005.675530  441340.284342
507  202114.352266  445130.538936

[508 rows x 2 columns]

In [30]:
#좌표계 변환 함수
#coor -> 좌표 정보가 담긴 NumPy Array
#p1_type -> 가지고 있는 좌표계 정보(epsg:2097, 중부 원점 좌표계)
#p2_type -> 변환하고자 하는 좌표계 정보(epsg:5179, 경위도 좌표계)
def project_array(coor, p1_type, p2_type):
    p1= pyproj.Proj(init=p1_type)
    p2= pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coor[:, 0], coor[:, 1])
    return np.dstack([fx, fy])[0]

#DataFrame을 NumPy Array로 변환
coor = np.array(df)

#좌표계 정보 설정
p1_type = "epsg:2097"
p2_type = "epsg:5179"

In [31]:
coor

array([[204359.31090526, 446886.09568499],
       [205707.08939998, 443914.1941331 ],
       [203599.25067685, 444863.86284738],
       ...,
       [203865.90240538, 442581.27766289],
       [210005.67552972, 441340.28434182],
       [202114.35226566, 445130.5389362 ]])

In [32]:
#project_array() 함수 실행
result = project_array(coor, p1_type, p2_type)
result

C:\Users\mool8\anaconda3\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\mool8\anaconda3\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
<ipython-input-30-43e0eb66654f>:4: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coor[:, 0], coor[:, 1])

array([[ 959990.94332298, 1947307.64670623],
       [ 961322.34879322, 1944329.76596254],
       [ 959220.41689256, 1945290.27642225],
       ...,
       [ 959474.80784619, 1943007.18939211],
       [ 965605.48588887, 1941734.02052366],
       [ 957737.53444072, 1945564.75389656]])

In [33]:
#경위도 좌표계를 데이터 프레임에 추가(확인용)
df['경도(X)'] = result[:, 0]
df['위도(Y)'] = result[:, 1]

In [19]:
df

           좌표정보(X)        좌표정보(Y)          경도(X)         위도(Y)
0    204359.310905  446886.095685  959990.943323  1.947308e+06
1    205707.089400  443914.194133  961322.348793  1.944330e+06
2    203599.250677  444863.862847  959220.416893  1.945290e+06
3    209423.649311  440208.558412  965017.675367  1.940606e+06
4    209423.649311  440208.558412  965017.675367  1.940606e+06
..             ...            ...            ...           ...
503  205395.382046  444052.169320  961011.502070  1.944469e+06
504  205180.099606  445840.131666  960805.828841  1.946258e+06
505  203865.902405  442581.277663  959474.807846  1.943007e+06
506  210005.675530  441340.284342  965605.485889  1.941734e+06
507  202114.352266  445130.538936  957737.534441  1.945565e+06

[508 rows x 4 columns]

In [36]:
#변환한 좌표계 데이터를 넣을 기존 데이터 불러오기
orig_df = pd.read_csv("../extractedData/chicken_competitors_2019.csv",
    encoding='utf8', #cp949 또는 utf8
    )

In [37]:
orig_df['변환좌표(X)'] = result[:, 0]
orig_df['변환좌표(Y)'] = result[:, 1]

In [38]:
orig_df

,관리번호,사업장명,인허가일자,인허가취소일자,영업상태명,폐업일자,도로명주소,업태구분명,좌표정보(X),좌표정보(Y),변환좌표(X),변환좌표(Y)
0,3220000-101-1977-16612,새로나치킨,19770617,NaN,폐업,20210805.0,서울특별시 강남구 도산대로 522 (청담동),한식,204359.310905,446886.095685,959990.943323,1.947308e+06
1,3220000-101-1981-05967,마미치킨,19811205,NaN,영업/정상,NaN,"서울특별시 강남구 삼성로 212, A-동 110호 (대치동,은마상가)",한식,205707.089400,443914.194133,961322.348793,1.944330e+06
2,3220000-101-1981-17644,치킨뱅이,19810317,NaN,영업/정상,NaN,서울특별시 강남구 언주로 534 (역삼동),한식,203599.250677,444863.862847,959220.416893,1.945290e+06
3,3220000-101-1982-07012,페리카나,19820904,NaN,영업/정상,NaN,서울특별시 강남구 밤고개로34길 4 (세곡동),분식,209423.649311,440208.558412,965017.675367,1.940606e+06
4,3220000-101-1982-07013,불로만치킨,19820908,NaN,영업/정상,NaN,"서울특별시 강남구 밤고개로34길 4, 지상1층 8호 (세곡동)",분식,209423.649311,440208.558412,965017.675367,1.940606e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
503,3220000-101-2018-00956,교촌치킨 대치2호점,20181017,NaN,영업/정상,NaN,"서울특별시 강남구 삼성로58길 7, 지상1층 (대치동)",호프/통닭,205395.382046,444052.169320,961011.502070,1.944469e+06
504,3220000-101-2018-01001,비에이치씨 삼성점,20181030,NaN,영업/정상,NaN,"서울특별시 강남구 영동대로 611, Chan&Chan Tower 지상1층,지상2층 ...",호프/통닭,205180.099606,445840.131666,960805.828841,1.946258e+06
505,3220000-101-2018-01037,통파이브 매봉역점,20181107,NaN,영업/정상,NaN,"서울특별시 강남구 논현로38길 34, 1층 (도곡동)",호프/통닭,203865.902405,442581.277663,959474.807846,1.943007e+06
506,3220000-101-2018-01046,비에이치씨(BHC)치킨 세곡점,20181109,NaN,영업/정상,NaN,"서울특별시 강남구 밤고개로21길 69, 엘리온빌딩 1층 101호 (율현동)",호프/통닭,210005.675530,441340.284342,965605.485889,1.941734e+06
507,3220000-101-2018-01101,생활맥주 논현영동시장점,20181121,NaN,영업/정상,NaN,"서울특별시 강남구 강남대로122길 21, 지상1층 (논현동)",호프/통닭,202114.352266,445130.538936,957737.534441,1.945565e+06

In [39]:
orig_df.to_csv('../extractedData/chicken_competitors_2019_transform GPS.csv', index=False)

In [40]:
test = pd.read_csv('../extractedData/chicken_competitors_2019_transform GPS.csv', encoding='UTF8')
test

,관리번호,사업장명,인허가일자,인허가취소일자,영업상태명,폐업일자,도로명주소,업태구분명,좌표정보(X),좌표정보(Y),변환좌표(X),변환좌표(Y)
0,3220000-101-1977-16612,새로나치킨,19770617,NaN,폐업,20210805.0,서울특별시 강남구 도산대로 522 (청담동),한식,204359.310905,446886.095685,959990.943323,1.947308e+06
1,3220000-101-1981-05967,마미치킨,19811205,NaN,영업/정상,NaN,"서울특별시 강남구 삼성로 212, A-동 110호 (대치동,은마상가)",한식,205707.089400,443914.194133,961322.348793,1.944330e+06
2,3220000-101-1981-17644,치킨뱅이,19810317,NaN,영업/정상,NaN,서울특별시 강남구 언주로 534 (역삼동),한식,203599.250677,444863.862847,959220.416893,1.945290e+06
3,3220000-101-1982-07012,페리카나,19820904,NaN,영업/정상,NaN,서울특별시 강남구 밤고개로34길 4 (세곡동),분식,209423.649311,440208.558412,965017.675367,1.940606e+06
4,3220000-101-1982-07013,불로만치킨,19820908,NaN,영업/정상,NaN,"서울특별시 강남구 밤고개로34길 4, 지상1층 8호 (세곡동)",분식,209423.649311,440208.558412,965017.675367,1.940606e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
503,3220000-101-2018-00956,교촌치킨 대치2호점,20181017,NaN,영업/정상,NaN,"서울특별시 강남구 삼성로58길 7, 지상1층 (대치동)",호프/통닭,205395.382046,444052.169320,961011.502070,1.944469e+06
504,3220000-101-2018-01001,비에이치씨 삼성점,20181030,NaN,영업/정상,NaN,"서울특별시 강남구 영동대로 611, Chan&Chan Tower 지상1층,지상2층 ...",호프/통닭,205180.099606,445840.131666,960805.828841,1.946258e+06
505,3220000-101-2018-01037,통파이브 매봉역점,20181107,NaN,영업/정상,NaN,"서울특별시 강남구 논현로38길 34, 1층 (도곡동)",호프/통닭,203865.902405,442581.277663,959474.807846,1.943007e+06
506,3220000-101-2018-01046,비에이치씨(BHC)치킨 세곡점,20181109,NaN,영업/정상,NaN,"서울특별시 강남구 밤고개로21길 69, 엘리온빌딩 1층 101호 (율현동)",호프/통닭,210005.675530,441340.284342,965605.485889,1.941734e+06
507,3220000-101-2018-01101,생활맥주 논현영동시장점,20181121,NaN,영업/정상,NaN,"서울특별시 강남구 강남대로122길 21, 지상1층 (논현동)",호프/통닭,202114.352266,445130.538936,957737.534441,1.945565e+06