### 강남구, 송파구, 서초구 시간대별 활동 인구 추출 코드
### feature중 시간대별 활동인구를 추출하기 위함

In [48]:
## Import modules & Load Dataset
import pandas as pd

# 행정동 매핑 데이터 load
code = pd.read_excel("../../../resources/rawdata/행정동코드_매핑정보_20200325.xlsx")

# 생활인구 데이터 load
active = pd.read_csv("../../../resources/rawdata/서울시 활동인구_201902.csv", index_col =False)

# 입지특성 데이터 load
geo_feature = pd.read_csv("../../../resources/extractedData/매머드_입지특성.csv", index_col =False)
geo_feature = geo_feature.iloc[:,:20]

In [24]:
geo_feature

,점포코드,점포명,상업지역 면적,1122052,1122054,1122055,1123051,1123052,1123053,1123058,1123059,1123060,1123063,1123064,1123065,1123066,1123067,1123078,1123079,1124078
0,T06845,MMTH 강남1호,107691.92740,0.169,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.827,0.000,0.000,0.000,0.000,0.000,0.000
1,S53680,MMTH 강남구청,77834.88102,0.000,0.000,0.000,0.000,0.000,0.676,0.000,0.229,0.000,0.000,0.000,0.000,0.000,0.000,0.091,0.000,0.000
2,S70287,MMTH 강남대로점,76605.23760,0.431,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.042,0.000,0.524,0.000,0.000,0.000,0.000
3,T35846,MMTH 강남역점,107691.92740,0.169,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.827,0.000,0.000,0.000,0.000,0.000,0.000
4,S73656,MMTH 국기원점,99191.93614,0.005,0.067,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.925,0.000,0.000,0.000,0.000,0.000,0.000
5,S90886,MMTH 논현점,75298.99801,0.000,0.000,0.000,0.000,0.000,0.989,0.000,0.002,0.000,0.000,0.000,0.000,0.000,0.000,0.005,0.000,0.000
6,S53661,MMTH 삼성역점,67685.56994,0.000,0.000,0.000,0.000,0.000,0.000,0.290,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.704,0.003
7,S70762,MMTH 선릉점,89348.35161,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.099,0.000,0.681,0.012,0.205,0.000,0.000,0.000,0.000,0.000
8,S86224,MMTH 선정릉점,99024.19971,0.000,0.000,0.000,0.000,0.000,0.000,0.347,0.497,0.000,0.088,0.000,0.000,0.000,0.000,0.000,0.065,0.000
9,S53786,MMTH 신사점,89982.58597,0.000,0.000,0.051,0.349,0.597,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10,S79000,MMTH 역삼GFC점,103356.25160,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.654,0.343,0.000,0.000,0.000,0.000,0.000
11,S53788,MMTH 역삼역점,114489.69680,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.713,0.283,0.000,0.000,0.000,0.000,0.000
12,S74200,MMTH 역삼점,114489.69680,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.713,0.283,0.000,0.000,0.000,0.000,0.000
13,S81039,MMTH 청담,50566.24332,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.997,0.000,0.000
14,S65820,MMTH 코엑스,126865.34760,0.000,0.000,0.000,0.000,0.000,0.000,0.820,0.176,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
15,T61943,MMTH 테헤란점,106334.93100,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.997,0.000,0.000,0.000,0.000,0.000,0.000
16,T64222,MMTH 한티역점(122호),45141.23551,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.215,0.457,0.000,0.237,0.000,0.087,0.000,0.000,0.000
17,S66072,MMTH 현대사옥점,49903.61297,0.000,0.000,0.000,0.000,0.000,0.000,0.997,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [49]:
# 행정동 매핑 데이터 확인 후 column 영문으로 수정 
code 
code.columns = code.iloc[0]
code = code[1:]
code['H_SDNG_CD'] = code['H_SDNG_CD'].astype(str)
code

0   H_SDNG_CD  H_DNG_CD DO_NM CT_NM H_DNG_NM
1     1101053  11110530    서울   종로구      사직동
2     1101054  11110540    서울   종로구      삼청동
3     1101055  11110550    서울   종로구      부암동
4     1101056  11110560    서울   종로구      평창동
5     1101057  11110570    서울   종로구      무악동
..        ...       ...   ...   ...      ...
420   1125070  11740690    서울   강동구     둔촌1동
421   1125071  11740700    서울   강동구     둔촌2동
422   1125072  11740570    서울   강동구     암사1동
423   1125073  11740610    서울   강동구     천호2동
424   1125074  11740685    서울   강동구       길동

[424 rows x 5 columns]

In [50]:
# 입지특성 feature에 나온 행정동만 sorting
dong_code = list(geo_feature.columns[3:])
keyword_new_str = "|".join(dong_code)

code_sorted = code[code["H_SDNG_CD"].str.contains(keyword_new_str)]

In [51]:
code_sorted

0   H_SDNG_CD  H_DNG_CD DO_NM CT_NM H_DNG_NM
341   1122052  11650520    서울   서초구     서초2동
343   1122054  11650531    서울   서초구     서초4동
344   1122055  11650540    서울   서초구      잠원동
358   1123051  11680510    서울   강남구      신사동
359   1123052  11680521    서울   강남구     논현1동
360   1123053  11680531    서울   강남구     논현2동
361   1123058  11680580    서울   강남구     삼성1동
362   1123059  11680590    서울   강남구     삼성2동
363   1123060  11680600    서울   강남구     대치1동
364   1123063  11680630    서울   강남구     대치4동
365   1123064  11680640    서울   강남구     역삼1동
366   1123065  11680650    서울   강남구     역삼2동
367   1123066  11680655    서울   강남구     도곡1동
368   1123067  11680656    서울   강남구     도곡2동
377   1123078  11680565    서울   강남구      청담동
378   1123079  11680610    서울   강남구     대치2동
402   1124078  11710720    서울   송파구     잠실7동

In [52]:
# 생활인구 데이터 확인
active

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20190201,0,11710531,12850.4342,449.5154,317.3049,345.2391,459.6580,450.0806,387.2608,...,386.3418,353.1415,430.0506,473.4026,536.4401,567.2805,620.7974,555.0947,340.9355,957.3833
1,20190201,0,11305600,14427.0907,408.0010,239.2000,313.6002,384.6307,433.0083,380.1810,...,490.1404,379.9183,462.1661,505.8532,611.1440,608.3622,758.7876,629.8711,595.2470,1491.0419
2,20190201,0,11680565,38042.4093,1267.8407,605.5070,703.0824,957.2338,1429.9007,1689.6720,...,1740.3979,1957.3549,1957.4407,1507.3750,1532.2262,1185.7230,1277.9111,1297.0529,1001.3580,2338.8249
3,20190201,0,11470620,15932.7326,628.2261,527.6592,617.9301,479.2693,355.9005,360.8211,...,426.9148,386.0623,640.6370,805.7004,881.8207,681.8794,559.5025,505.7954,425.1411,867.2452
4,20190201,0,11560535,38219.6259,689.5669,270.9443,582.7321,1396.8599,2696.4849,2513.3967,...,2686.0872,2109.1805,1847.5768,1077.4695,1116.3253,973.3678,1060.9955,1118.8704,719.1841,1767.4652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284923,20190228,23,11740610,45519.3625,1678.3499,750.3221,989.0107,1215.9012,1694.4225,1914.8749,...,1916.3980,1811.9453,1934.3011,1587.9223,1665.6083,1737.0815,2198.2428,1900.6392,1354.2309,3302.1066
284924,20190228,23,11740600,49576.1240,2499.9718,1211.0505,1430.5830,1176.0639,1273.5134,1380.1530,...,1436.8219,1604.1450,2149.0850,1795.6231,2040.1682,1842.4206,2256.3528,2278.8235,1624.4511,3555.2934
284925,20190228,23,11740590,16007.8951,987.4774,461.5389,425.6182,289.8292,375.7707,424.3457,...,404.8133,481.9354,800.4514,744.2357,670.8774,603.7307,691.4425,596.7264,417.4122,911.2457
284926,20190228,23,11740690,7077.5290,274.3460,207.9260,332.0504,174.0587,168.1289,183.3277,...,176.6616,204.2166,281.4401,292.0752,298.8976,246.3752,327.5013,273.8968,221.4713,608.8445
284927,20190228,23,11740685,57939.5354,1804.7814,872.7313,1371.4269,1469.9532,1885.2820,2107.5513,...,1990.8540,1895.1378,2323.4954,2232.3270,2607.2496,2247.2523,2943.4136,2647.1419,1988.6110,3808.5569

In [53]:
# 생활인구 데이터 중 강남구 데이터만 소팅
active_dong = pd.DataFrame(columns=active.columns)
code = list(code_sorted["H_DNG_CD"].astype(int))
for c in code :
    active_dong = active_dong.append(active[active["행정동코드"] == c])
active_dong

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
84,20190201,0,11650520,28285.8087,608.7539,366.8139,540.9014,796.5181,1457.4709,1613.6384,...,1571.2282,1661.0662,1480.6522,1100.4375,1088.8725,794.5212,789.0690,786.7826,580.5066,1224.6308
602,20190201,1,11650520,27568.5982,608.7767,366.8280,506.7194,772.3883,1398.3631,1556.7473,...,1520.4967,1674.6711,1446.8364,1064.6353,1083.1945,781.2196,779.3081,781.5807,578.6703,1221.1182
1046,20190201,2,11650520,26951.1481,603.7177,363.7794,504.3129,736.8612,1319.5915,1529.8868,...,1483.7601,1640.6871,1407.2025,1060.4217,1042.9638,779.0765,796.7744,750.5596,563.9546,1214.8624
1337,20190201,3,11650520,26559.6619,584.2704,352.0616,502.2638,738.6420,1311.4284,1498.8040,...,1453.0717,1579.3280,1398.7931,1088.3237,1004.0930,788.5577,769.2766,739.0184,565.5664,1212.4132
1936,20190201,4,11650520,26502.4678,565.5256,340.7660,502.8337,735.4600,1321.4005,1506.4580,...,1418.7089,1531.8228,1397.9668,1070.3844,1012.6519,778.9174,784.3030,775.8964,584.5439,1260.8703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282890,20190228,19,11710720,8414.2093,325.6931,181.6846,172.7334,139.6370,193.6839,280.5246,...,215.3249,205.7548,382.1273,325.0668,375.4012,316.6416,354.0114,404.5509,342.4181,781.5568
283631,20190228,20,11710720,8471.8726,284.5949,158.7583,160.9072,150.6613,184.1679,247.7540,...,204.0003,201.7440,370.7841,302.9163,376.7856,324.5679,346.6111,390.1677,324.2520,847.5198
284065,20190228,21,11710720,8918.1416,298.6618,166.6052,180.3892,184.2558,232.8986,255.2887,...,239.3348,241.1049,343.3828,309.3240,377.6940,337.9010,356.5185,414.5366,335.1240,879.9275
284174,20190228,22,11710720,9345.0343,311.0574,173.5203,221.5123,186.5967,224.7080,223.9472,...,262.5866,274.0367,381.0681,303.5824,407.5112,348.9668,365.4058,409.8277,348.0050,883.2610
284507,20190228,23,11710720,10137.5718,255.8730,142.7361,245.7338,234.3666,220.2297,234.8531,...,271.6233,257.1125,416.6609,328.3205,482.7980,397.1519,385.7654,449.4624,399.5217,1051.3879

In [56]:
# 생활 인구 데이터 중 총 생활 인구수만 사용
active_dong = active_dong.iloc[:,[0,1,2,3]]

# 06시부터 23시까지 데이터만 사용 
active_dong = active_dong.loc[active_dong[active_dong["시간대구분"]>5].index,:]
active_dong

           기준일ID 시간대구분     행정동코드      총생활인구수
2842    20190201     6  11650520  31960.5701
3314    20190201     7  11650520  40221.4940
3573    20190201     8  11650520  55898.8746
4052    20190201     9  11650520  64181.8594
4641    20190201    10  11650520  68293.8096
...          ...   ...       ...         ...
282890  20190228    19  11710720   8414.2093
283631  20190228    20  11710720   8471.8726
284065  20190228    21  11710720   8918.1416
284174  20190228    22  11710720   9345.0343
284507  20190228    23  11710720  10137.5718

[8568 rows x 4 columns]

In [ ]:
for day in active_dong["기준일ID"]:
    for h in range(6,24):