### 강남구, 송파구, 서초구 시간대별 활동 인구 추출 코드
### feature중 시간대별 활동인구를 추출하기 위함

In [28]:
## Import modules & Load Dataset
import pandas as pd

# 행정동 매핑 데이터 load
code = pd.read_excel("../../../resources/rawdata/행정동코드_매핑정보_20200325.xlsx")

# 생활인구 데이터 load
active = pd.read_csv("../../../resources/rawdata/서울시 활동인구_201902.csv", index_col =False)

In [29]:
# 행정동 매핑 데이터 확인 후 column 영문으로 수정 
code 
code.columns = code.iloc[0]
code = code[1:]
code

0   H_SDNG_CD  H_DNG_CD DO_NM CT_NM H_DNG_NM
1     1101053  11110530    서울   종로구      사직동
2     1101054  11110540    서울   종로구      삼청동
3     1101055  11110550    서울   종로구      부암동
4     1101056  11110560    서울   종로구      평창동
5     1101057  11110570    서울   종로구      무악동
..        ...       ...   ...   ...      ...
420   1125070  11740690    서울   강동구     둔촌1동
421   1125071  11740700    서울   강동구     둔촌2동
422   1125072  11740570    서울   강동구     암사1동
423   1125073  11740610    서울   강동구     천호2동
424   1125074  11740685    서울   강동구       길동

[424 rows x 5 columns]

In [33]:
# 강남구, 서초구, 송파구 코드만 sorting
keyword_new = ["강남구","서초구","송파구"]
keyword_new_str = "|".join(keyword_new)

dong_code = code[code["CT_NM"].str.contains(keyword_new_str)]

In [31]:
# 생활인구 데이터 확인
active

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20190201,0,11710531,12850.4342,449.5154,317.3049,345.2391,459.6580,450.0806,387.2608,...,386.3418,353.1415,430.0506,473.4026,536.4401,567.2805,620.7974,555.0947,340.9355,957.3833
1,20190201,0,11305600,14427.0907,408.0010,239.2000,313.6002,384.6307,433.0083,380.1810,...,490.1404,379.9183,462.1661,505.8532,611.1440,608.3622,758.7876,629.8711,595.2470,1491.0419
2,20190201,0,11680565,38042.4093,1267.8407,605.5070,703.0824,957.2338,1429.9007,1689.6720,...,1740.3979,1957.3549,1957.4407,1507.3750,1532.2262,1185.7230,1277.9111,1297.0529,1001.3580,2338.8249
3,20190201,0,11470620,15932.7326,628.2261,527.6592,617.9301,479.2693,355.9005,360.8211,...,426.9148,386.0623,640.6370,805.7004,881.8207,681.8794,559.5025,505.7954,425.1411,867.2452
4,20190201,0,11560535,38219.6259,689.5669,270.9443,582.7321,1396.8599,2696.4849,2513.3967,...,2686.0872,2109.1805,1847.5768,1077.4695,1116.3253,973.3678,1060.9955,1118.8704,719.1841,1767.4652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284923,20190228,23,11740610,45519.3625,1678.3499,750.3221,989.0107,1215.9012,1694.4225,1914.8749,...,1916.3980,1811.9453,1934.3011,1587.9223,1665.6083,1737.0815,2198.2428,1900.6392,1354.2309,3302.1066
284924,20190228,23,11740600,49576.1240,2499.9718,1211.0505,1430.5830,1176.0639,1273.5134,1380.1530,...,1436.8219,1604.1450,2149.0850,1795.6231,2040.1682,1842.4206,2256.3528,2278.8235,1624.4511,3555.2934
284925,20190228,23,11740590,16007.8951,987.4774,461.5389,425.6182,289.8292,375.7707,424.3457,...,404.8133,481.9354,800.4514,744.2357,670.8774,603.7307,691.4425,596.7264,417.4122,911.2457
284926,20190228,23,11740690,7077.5290,274.3460,207.9260,332.0504,174.0587,168.1289,183.3277,...,176.6616,204.2166,281.4401,292.0752,298.8976,246.3752,327.5013,273.8968,221.4713,608.8445
284927,20190228,23,11740685,57939.5354,1804.7814,872.7313,1371.4269,1469.9532,1885.2820,2107.5513,...,1990.8540,1895.1378,2323.4954,2232.3270,2607.2496,2247.2523,2943.4136,2647.1419,1988.6110,3808.5569

In [34]:
# 생활인구 데이터 중 강남구 데이터만 소팅
active_dong = pd.DataFrame(columns=active.columns)
code = list(dong_code["H_DNG_CD"].astype(int))
for c in code :
    active_dong = active_dong.append(active[active["행정동코드"] == c])
active_dong

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
93,20190201,0,11650510,27211.0922,1144.7297,642.7198,735.5955,891.8520,1122.1370,1024.6963,...,904.0362,1132.9050,1135.9986,1055.3348,1071.8093,846.9583,884.6497,883.1724,692.7948,1705.1304
731,20190201,1,11650510,27060.0826,1167.8221,655.6860,739.1124,846.5364,1098.4034,1060.4683,...,915.5456,1133.1703,1132.5238,1057.2516,1108.3218,869.1491,907.3117,901.4885,680.3543,1627.2376
970,20190201,2,11650510,26987.4986,1179.2080,662.0783,755.8200,825.9942,1110.3046,1040.1662,...,914.5099,1129.6638,1145.3050,1068.9230,1107.7469,871.2408,889.7111,912.2494,684.7626,1615.9710
1299,20190201,3,11650510,26982.0906,1185.6452,665.6929,741.4099,835.7651,1104.1144,1035.8094,...,905.6724,1117.3197,1136.7292,1046.5275,1104.9697,856.0161,909.4135,922.7080,698.1691,1659.2908
1770,20190201,4,11650510,27081.9715,1202.3883,675.0933,744.5843,833.7283,1084.7073,1021.0004,...,918.9999,1130.7236,1157.2824,1064.1507,1127.0459,856.3030,925.4627,890.8419,707.5335,1654.5148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282894,20190228,19,11710647,33340.6481,2806.7465,931.1100,778.4912,715.4892,827.3686,970.9626,...,860.2255,1364.8009,1995.8254,1582.6203,1362.6805,1207.7361,1095.5672,1000.4985,673.0270,1425.0910
283622,20190228,20,11710647,34305.7779,2854.7011,947.0182,796.0046,724.6528,775.3901,1003.8169,...,866.3112,1401.0217,2015.8887,1571.3638,1453.1308,1297.4794,1177.2215,983.9206,745.1591,1487.1273
284058,20190228,21,11710647,35651.4195,2986.5948,990.7722,880.2257,773.4667,777.1919,1114.2088,...,907.8664,1447.9536,2081.1282,1558.5539,1490.9990,1341.3850,1203.7774,1025.2450,766.2287,1542.5135
284484,20190228,22,11710647,36570.3065,3078.6436,1021.3090,944.0604,745.1767,745.8839,1154.3447,...,917.4441,1456.1938,2052.3166,1674.9966,1517.6275,1348.8889,1191.1968,1035.7446,746.3696,1519.3097
284910,20190228,23,11710647,36129.5336,3061.4284,1015.5979,931.3494,785.8255,777.2849,1184.2698,...,967.4566,1585.4322,2065.3364,1648.3267,1461.7740,1223.2395,1068.7608,1025.7786,689.5233,1573.3101

In [35]:
# 생활 인구 데이터 중 총 생활 인구수만 사용
active_dong = active_dong.iloc[:,[0,1,2,3]]
active_dong

           기준일ID 시간대구분     행정동코드      총생활인구수
93      20190201     0  11650510  27211.0922
731     20190201     1  11650510  27060.0826
970     20190201     2  11650510  26987.4986
1299    20190201     3  11650510  26982.0906
1770    20190201     4  11650510  27081.9715
...          ...   ...       ...         ...
282894  20190228    19  11710647  33340.6481
283622  20190228    20  11710647  34305.7779
284058  20190228    21  11710647  35651.4195
284484  20190228    22  11710647  36570.3065
284910  20190228    23  11710647  36129.5336

[45024 rows x 4 columns]