### 매머드커피 매장별 일자, 시간대별로 총매출 추출 코드

In [1]:
import pandas as pd
# mamm = pd.read_csv("../../../resources/extractedData/매머드_거래데이터.csv", encoding="utf8")
mamm = pd.read_csv("../../../resources/extractedData/매머드_거래데이터_주말 추가.csv", encoding="utf8")

In [2]:
mamm

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가,주중/주말
0,S53661,MMTH 역삼점,2019-02-01,33,20190201122847,NaN,4300,espresso,헤이즐넛모카(ice),805,1,4300,0
1,S53661,MMTH 역삼점,2019-02-01,35,20190201123850,NaN,4000,espresso,꿀바나라떼(ice),532,1,4000,0
2,S53661,MMTH 역삼점,2019-02-01,25,20190201101708,NaN,3400,espresso,꿀라떼(hot),297,1,3400,0
3,S53661,MMTH 역삼점,2019-02-01,35,20190201123850,NaN,6800,espresso,카페라떼(ice),21,2,3400,0
4,S53661,MMTH 역삼점,2019-02-01,11,20190201085522,NaN,3400,espresso,카페라떼(ice),21,1,3400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70781,T64222,MMTH 역삼GFC점,2019-02-26,172,20190226155656,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70782,T64222,MMTH 역삼GFC점,2019-02-26,138,20190226132017,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70783,T64222,MMTH 역삼GFC점,2019-02-26,127,20190226130011,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70784,T64222,MMTH 역삼GFC점,2019-02-26,55,20190226100837,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0
70785,T64222,MMTH 역삼GFC점,2019-02-26,44,20190226094243,NaN,0,행사,GFC)식권대장100%할인,957,1,0,0

In [3]:
# column : 매장코드, 매장명, 영업일자, (결제일시->)시간대, 매출
mamm_date = mamm[["매장코드", "매장명", "영업일자", "결제일시", "주중/주말", "총판매금액"]]

In [84]:
# 결제일시 datetime으로 포매팅
mamm_date["결제일시"] = mamm_date["결제일시"].astype("str")
mamm_date["결제일시"] = pd.to_datetime(mamm_date["결제일시"])

# 시간대 추출
mamm_date["시간대"] = mamm_date["결제일시"].dt.hour

<ipython-input-84-b00ac1828be8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mamm_date["결제일시"] = mamm_date["결제일시"].astype("str")
<ipython-input-84-b00ac1828be8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mamm_date["결제일시"] = pd.to_datetime(mamm_date["결제일시"])
<ipython-input-84-b00ac1828be8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mamm_date["시간대"] = mamm_date["결제일시"].dt.hour

In [44]:
mamm_date

         매장코드          매장명        영업일자                결제일시 주중/주말  총판매금액  시간대
0      S53661     MMTH 역삼점  2019-02-01 2019-02-01 12:28:47     0   4300   12
1      S53661     MMTH 역삼점  2019-02-01 2019-02-01 12:38:50     0   4000   12
2      S53661     MMTH 역삼점  2019-02-01 2019-02-01 10:17:08     0   3400   10
3      S53661     MMTH 역삼점  2019-02-01 2019-02-01 12:38:50     0   6800   12
4      S53661     MMTH 역삼점  2019-02-01 2019-02-01 08:55:22     0   3400    8
...       ...          ...         ...                 ...   ...    ...  ...
70781  T64222  MMTH 역삼GFC점  2019-02-26 2019-02-26 15:56:56     0      0   15
70782  T64222  MMTH 역삼GFC점  2019-02-26 2019-02-26 13:20:17     0      0   13
70783  T64222  MMTH 역삼GFC점  2019-02-26 2019-02-26 13:00:11     0      0   13
70784  T64222  MMTH 역삼GFC점  2019-02-26 2019-02-26 10:08:37     0      0   10
70785  T64222  MMTH 역삼GFC점  2019-02-26 2019-02-26 09:42:43     0      0    9

[70786 rows x 7 columns]

In [53]:
# 매장별 시간대별 매출
mamm_sum = pd.DataFrame({"매출" : mamm_date.groupby(["매장코드", "매장명", "영업일자", "시간대", "주중/주말"])['총판매금액'].sum()}).reset_index()
mamm_sum.to_csv("../../../resources/processedData/매머드_매장별 시간대별 매출_주말 추가.csv", index=False , encoding="utf8")
mamm_sum

        매장코드          매장명        영업일자  시간대 주중/주말      매출
0     S53661     MMTH 역삼점  2019-02-01    8     0   39800
1     S53661     MMTH 역삼점  2019-02-01    9     0   29000
2     S53661     MMTH 역삼점  2019-02-01   10     0   42300
3     S53661     MMTH 역삼점  2019-02-01   11     0   10000
4     S53661     MMTH 역삼점  2019-02-01   12     0  130500
...      ...          ...         ...  ...   ...     ...
4877  T64222  MMTH 역삼GFC점  2019-02-28   17     0   61200
4878  T64222  MMTH 역삼GFC점  2019-02-28   18     0   75100
4879  T64222  MMTH 역삼GFC점  2019-02-28   19     0   71300
4880  T64222  MMTH 역삼GFC점  2019-02-28   20     0   42800
4881  T64222  MMTH 역삼GFC점  2019-02-28   21     0   38300

[4882 rows x 6 columns]

시간대별 평균 매출 구하기 
- 빈 시간대 값 채우기
- 주중/주말 별 시간대 치환

In [22]:
import pandas as pd

mamm_sum = pd.read_csv("../../../resources/processedData/매머드_매장별 시간대별 매출_주말 추가.csv", encoding="utf8")

# 주중/주말 문자열로 변수형 변경
# mamm_sum["주중/주말"] = mamm_sum["주중/주말"].astype("str")

In [23]:
mamm_sum

        매장코드          매장명        영업일자  시간대  주중/주말      매출
0     S53661     MMTH 역삼점  2019-02-01    8      0   39800
1     S53661     MMTH 역삼점  2019-02-01    9      0   29000
2     S53661     MMTH 역삼점  2019-02-01   10      0   42300
3     S53661     MMTH 역삼점  2019-02-01   11      0   10000
4     S53661     MMTH 역삼점  2019-02-01   12      0  130500
...      ...          ...         ...  ...    ...     ...
4877  T64222  MMTH 역삼GFC점  2019-02-28   17      0   61200
4878  T64222  MMTH 역삼GFC점  2019-02-28   18      0   75100
4879  T64222  MMTH 역삼GFC점  2019-02-28   19      0   71300
4880  T64222  MMTH 역삼GFC점  2019-02-28   20      0   42800
4881  T64222  MMTH 역삼GFC점  2019-02-28   21      0   38300

[4882 rows x 6 columns]

In [24]:
# 매장별 주중/주말 영업 시간(min, max) / 영업일자 및 요일 확인

date = ["금", "토", "일", "월", "화", "수", "목"]
for i in mamm_sum["매장명"].unique():
    data = mamm_sum[mamm_sum["매장명"] == i] 

    # 매장명, 주중/주말 영업 시간(min, max)
    print("%s 주중: %s %s 주말: %s %s " % (i, data[data["주중/주말"] == 0]["시간대"].min(), data[data["주중/주말"] == 0]["시간대"].max(), data[data["주중/주말"] == 1]["시간대"].min(), data[data["주중/주말"] == 1]["시간대"].max()))
    # 영업일자 및 요일 확인
    for j in data["영업일자"].unique():
        print(j, date[int(j[8:])%7-1])
    print()

MMTH 역삼점 주중: 6 17 주말: nan nan
2019-02-01 금
2019-02-07 목
2019-02-08 금
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 강남1호 주중: 6 21 주말: 8 16
2019-02-01 금
2019-02-02 토
2019-02-04 월
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 청담 주중: 6 22 주말: 8 20
2019-02-01 금
2019-02-02 토
2019-02-03 일
2019-02-04 월
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 코엑스 주중: 7 21 주말: 9 17
2019-02-01 금
2019-02-02 토
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 테헤란점 주중: 7 16 주말: nan nan
2019-02-01 금
2019-02-07 목
2019-02-08 금
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 현대사옥점 주중: 7 17 주말: nan nan
2019-02-01 금
2019-02-07 목
2019-02-08 금
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 강남구청 주중: 7 20 주말: 8 18
2019-02-01 금
2019-02-02 토
2019-02-03 일
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 논현점 주중: 7 19 주말: 10 16
2019-02-01 금
2019-02-02 토
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 강남역점 주중: 6 21 주말: 8 20
2019-02-01 금
2019-02-02 토
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 선정릉점 주중: 7 20 주말: nan nan
2019-02-01 금
2019-02-07 목
2019-02-08 금
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 선릉점 주중: 7 21 주말: 9 21
2019-02-01 금
2019-02-02 토
2019-02-03 일
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 신사점 주중: 7 18 주말: 8 14
2019-02-01 금
2019-02-02 토
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 삼성역점 주중: 7 21 주말: 12 18
2019-02-01 금
2019-02-02 토
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 국기원점 주중: 6 20 주말: 7 19
2019-02-01 금
2019-02-02 토
2019-02-04 월
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 역삼역점 주중: 6 23 주말: 9 18
2019-02-01 금
2019-02-02 토
2019-02-03 일
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 강남대로점 주중: 6 23 주말: nan nan
2019-02-01 금
2019-02-07 목
2019-02-08 금
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 한티역점(122호) 주중: 7 21 주말: 8 21
2019-02-01 금
2019-02-02 토
2019-02-03 일
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

MMTH 역삼GFC점 주중: 7 23 주말: 8 23
2019-02-01 금
2019-02-02 토
2019-02-03 일
2019-02-04 월
2019-02-05 화
2019-02-06 수
2019-02-07 목
2019-02-08 금
2019-02-09 토
2019-02-10 일
2019-02-11 월
2019-02-12 화
2019-02-13 수
2019-02-14 목
2019-02-15 금
2019-02-16 토
2019-02-17 일
2019-02-18 월
2019-02-19 화
2019-02-20 수
2019-02-21 목
2019-02-22 금
2019-02-23 토
2019-02-24 일
2019-02-25 월
2019-02-26 화
2019-02-27 수
2019-02-28 목

In [25]:
## 시간대 중 없는 시간대의 매출 0으로 row 추가 (주중, 주말 나누기) 

for code in mamm_sum["매장코드"].unique(): 
    store = mamm_sum[mamm_sum["매장코드"]==code]
    
    for date in store["영업일자"].unique():
        store_date = store[store["영업일자"] == date]

        # 영업 시간 중 데이터가 없는 시간대를 매출 0으로 row 추가
        store_date_hour = list(store_date["시간대"])    # 실제 데이터가 있는 시간대
        for h in range(store_date["시간대"].min(), store_date["시간대"].max()+1) : 
            if h not in store_date_hour:    # 영업시간 중, 데이터가 없는 시간대가 있다면 행 추가
                mamm_sum = mamm_sum.append({"매장코드" : code, "매장명" : store_date["매장명"].values[0], "영업일자" : date, "시간대" : h, "주중/주말" : store_date["주중/주말"].values[0], "매출" : 0}, ignore_index=True)

# 매장코드, 영업일자, 시간대 기준 오름차순 정렬
mamm_sum = mamm_sum.sort_values(["매장코드", "영업일자", "시간대"], ignore_index=True)
mamm_sum

        매장코드          매장명        영업일자  시간대  주중/주말      매출
0     S53661     MMTH 역삼점  2019-02-01    8      0   39800
1     S53661     MMTH 역삼점  2019-02-01    9      0   29000
2     S53661     MMTH 역삼점  2019-02-01   10      0   42300
3     S53661     MMTH 역삼점  2019-02-01   11      0   10000
4     S53661     MMTH 역삼점  2019-02-01   12      0  130500
...      ...          ...         ...  ...    ...     ...
4999  T64222  MMTH 역삼GFC점  2019-02-28   17      0   61200
5000  T64222  MMTH 역삼GFC점  2019-02-28   18      0   75100
5001  T64222  MMTH 역삼GFC점  2019-02-28   19      0   71300
5002  T64222  MMTH 역삼GFC점  2019-02-28   20      0   42800
5003  T64222  MMTH 역삼GFC점  2019-02-28   21      0   38300

[5004 rows x 6 columns]

In [26]:
## 주중/주말별 시간대 1~4로 치환

# 주중, 주말로 데이터프레임 나누기
mamm_weekday = mamm_sum[mamm_sum["주중/주말"] == 0]
mamm_weekend = mamm_sum[mamm_sum["주중/주말"] == 1]

# 주중 시간대 치환 / 1 : (6, 7, 8, 9, 10), 2: (11, 12, 13, 14), 3: (15, 16, 17, 18), 4: (19, 20, 21, 22, 23)
mamm_weekday = mamm_weekday.replace([6, 7, 8, 9, 10], 1)
mamm_weekday = mamm_weekday.replace([11, 12, 13, 14], 2)
mamm_weekday = mamm_weekday.replace([15, 16, 17, 18], 3)
mamm_weekday = mamm_weekday.replace([19, 20, 21, 22, 23], 4)

# 주말 시간대 치환 / 1: (7, 8, 9, 10, 11), 2: (12, 13, 14, 15), 3: (16, 17, 18, 19), 4: (20, 21, 22, 23)
mamm_weekend = mamm_weekend.replace([7, 8, 9, 10, 11], 1)
mamm_weekend = mamm_weekend.replace([12, 13, 14, 15], 2)
mamm_weekend = mamm_weekend.replace([16, 17, 18, 19], 3)
mamm_weekend = mamm_weekend.replace([20, 21, 22, 23], 4)

# 하나의 데이터프레임으로 합치기 및 정렬
mamm_total = pd.concat([mamm_weekday,mamm_weekend], ignore_index=True).sort_values(["매장코드", "영업일자", "시간대"])
mamm_total

        매장코드          매장명        영업일자  시간대  주중/주말      매출
0     S53661     MMTH 역삼점  2019-02-01    1      0   39800
1     S53661     MMTH 역삼점  2019-02-01    1      0   29000
2     S53661     MMTH 역삼점  2019-02-01    1      0   42300
3     S53661     MMTH 역삼점  2019-02-01    2      0   10000
4     S53661     MMTH 역삼점  2019-02-01    2      0  130500
...      ...          ...         ...  ...    ...     ...
4051  T64222  MMTH 역삼GFC점  2019-02-28    3      0   61200
4052  T64222  MMTH 역삼GFC점  2019-02-28    3      0   75100
4053  T64222  MMTH 역삼GFC점  2019-02-28    4      0   71300
4054  T64222  MMTH 역삼GFC점  2019-02-28    4      0   42800
4055  T64222  MMTH 역삼GFC점  2019-02-28    4      0   38300

[5004 rows x 6 columns]

In [28]:
## 시간대별 평균 매출 구하기 및 데이터프레임 추출
# columns : 매장코드_영업일자_시간대(key) / 매장코드 / 매장명 / 영업일자 / 시간대 / 매출

# 시간대별 평균 매출 추출
mamm_final2 = pd.DataFrame({"평균매출" : round(mamm_total.groupby(["매장코드", "매장명", "영업일자", "주중/주말", "시간대"])["매출"].mean(), 2)}).reset_index()
# key(매장코드_영업일자_시간대) 생성
mamm_final2["매장코드_영업일자_시간대"] = mamm_final2.apply(lambda x: "%s_%s_%s" %(x["매장코드"], x["영업일자"], x["시간대"]), axis='columns')

mamm_final2 = mamm_final2[["매장코드_영업일자_시간대", "매장코드", "매장명", "영업일자", "주중/주말", "시간대", "평균매출"]]
mamm_final2.to_csv("../../../resources/processedData/매머드_매장별 시간대별 평균매출.csv", index=False , encoding="utf8")
mamm_final2

,매장코드_영업일자_시간대,매장코드,매장명,영업일자,주중/주말,시간대,평균매출
0,S53661_2019-02-01_1,S53661,MMTH 역삼점,2019-02-01,0,1,37033.33
1,S53661_2019-02-01_2,S53661,MMTH 역삼점,2019-02-01,0,2,42600.00
2,S53661_2019-02-01_3,S53661,MMTH 역삼점,2019-02-01,0,3,17400.00
3,S53661_2019-02-07_1,S53661,MMTH 역삼점,2019-02-07,0,1,63225.00
4,S53661_2019-02-07_2,S53661,MMTH 역삼점,2019-02-07,0,2,34325.00
...,...,...,...,...,...,...,...
1426,T64222_2019-02-27_4,T64222,MMTH 역삼GFC점,2019-02-27,0,4,45325.00
1427,T64222_2019-02-28_1,T64222,MMTH 역삼GFC점,2019-02-28,0,1,70550.00
1428,T64222_2019-02-28_2,T64222,MMTH 역삼GFC점,2019-02-28,0,2,225000.00
1429,T64222_2019-02-28_3,T64222,MMTH 역삼GFC점,2019-02-28,0,3,83375.00
1430,T64222_2019-02-28_4,T64222,MMTH 역삼GFC점,2019-02-28,0,4,50800.00

In [7]:
## 시간대별 평균 매출 구하기 및 데이터프레임 추출
# columns : 매장코드_영업일자_시간대(key) / 매장코드 / 매장명 / 영업일자 / 시간대 / 매출
# 사용 X

"""
mamm_final = pd.DataFrame()

for code in mamm_total["매장코드"].unique(): 
    store = mamm_total[mamm_total["매장코드"]==code]
    
    for date in store["영업일자"].unique():
        store_date = store[store["영업일자"] == date]
        
        # 해당 영업일자에 시간대(1~4) 데이터가 존재할 경우, 평균 매출 추출
        for time in range(1, 5) :
            if time in store_date["시간대"].values :
                sales_sum = store_date[store_date["시간대"] == time]["매출"]
                sales_avg = sales_sum.sum() / len(sales_sum)

                mamm_final = mamm_final.append({"매장코드_영업일자_시간대" : "%s_%s_%s" %(code, date, time), "매장코드" : code, "매장명" : store_date[store_date["매장코드"] == code]["매장명"].values[0], "영업일자" : date, "시간대" : time, "매출" : round(sales_avg, 2)}, ignore_index=True)

mamm_final = mamm_final[["매장코드_영업일자_시간대", "매장코드", "매장명", "영업일자", "시간대", "매출"]]
mamm_final.to_csv("../../../resources/processedData/매머드_매장별 시간대별 평균매출.csv", index=False , encoding="utf8")
mamm_final
"""

            매장코드_영업일자_시간대    매장코드          매장명        영업일자  시간대         매출
0     S53661_2019-02-01_1  S53661     MMTH 역삼점  2019-02-01  1.0   37033.33
1     S53661_2019-02-01_2  S53661     MMTH 역삼점  2019-02-01  2.0   42600.00
2     S53661_2019-02-01_3  S53661     MMTH 역삼점  2019-02-01  3.0   17400.00
3     S53661_2019-02-07_1  S53661     MMTH 역삼점  2019-02-07  1.0   63225.00
4     S53661_2019-02-07_2  S53661     MMTH 역삼점  2019-02-07  2.0   34325.00
...                   ...     ...          ...         ...  ...        ...
1426  T64222_2019-02-27_4  T64222  MMTH 역삼GFC점  2019-02-27  4.0   45325.00
1427  T64222_2019-02-28_1  T64222  MMTH 역삼GFC점  2019-02-28  1.0   70550.00
1428  T64222_2019-02-28_2  T64222  MMTH 역삼GFC점  2019-02-28  2.0  225000.00
1429  T64222_2019-02-28_3  T64222  MMTH 역삼GFC점  2019-02-28  3.0   83375.00
1430  T64222_2019-02-28_4  T64222  MMTH 역삼GFC점  2019-02-28  4.0   50800.00

[1431 rows x 6 columns]