### 매출 데이터 concat 후 특정 점포 매출 동향 파악

Sampled for internal review_transaction_gn_0n_20190805.xlsx 데이터 모두 concat 후 column 명 수정 후 csv로 재추출

In [3]:
# Import Moudules
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
# load rawdata
transaction1 = pd.read_excel('../../resources/rawdata/거래데이터01.xls', sheet_name= None)
transaction2 = pd.read_excel('../../resources/rawdata/거래데이터02.xls', sheet_name= None)
transaction3 = pd.read_excel('../../resources/rawdata/거래데이터03.xls', sheet_name= None)
transaction4 = pd.read_excel('../../resources/rawdata/거래데이터04.xls', sheet_name= None)
transaction5 = pd.read_excel('../../resources/rawdata/거래데이터05.xls', sheet_name= None)
transaction6 = pd.read_excel('../../resources/rawdata/거래데이터06.xls', sheet_name= None)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (175584515) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [8]:
transaction1.keys()

dict_keys(['Sheet 1', 'Sheet 2', 'Sheet 3', 'Sheet 4', 'Sheet 5', 'Sheet 6', 'Sheet 7', 'Sheet 8', 'Sheet 9', 'Sheet 10', 'Sheet 11'])

In [5]:
concatted_tran1 = pd.concat(transaction1, ignore_index=True)
concatted_tran1

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가
0,T57457,라공방,20190203,238,20190203211944,포장,14000,메뉴,꿔바러우(소),28,1,14000
1,T57457,라공방,20190203,190,20190203185755,포장,14000,메뉴,꿔바러우(소),28,1,14000
2,T57457,라공방,20190203,186,20190203184828,포장,14000,메뉴,꿔바러우(소),28,1,14000
3,T57457,라공방,20190203,184,20190203183953,포장,14000,메뉴,꿔바러우(소),28,1,14000
4,T57457,라공방,20190203,165,20190203175304,포장,14000,메뉴,꿔바러우(소),28,1,14000
...,...,...,...,...,...,...,...,...,...,...,...,...
675530,U02589,(주)트레이드빌리지 강남1지점,20190201,166,20190201174526,NaN,15900,B,실버반지,900016,1,15900
675531,U02589,(주)트레이드빌리지 강남1지점,20190201,138,20190201161604,NaN,15900,B,실버반지,900016,1,15900
675532,U02589,(주)트레이드빌리지 강남1지점,20190201,130,20190201160430,NaN,31800,B,실버반지,900016,2,15900
675533,U02589,(주)트레이드빌리지 강남1지점,20190201,104,20190201152727,NaN,15900,B,실버반지,900016,1,15900
675534,U02589,(주)트레이드빌리지 강남1지점,20190201,63,20190201143537,NaN,31800,B,실버반지,900016,2,15900

In [9]:
concatted_tran2 = pd.concat(transaction2, ignore_index=True)
concatted_tran3 = pd.concat(transaction3, ignore_index=True)
concatted_tran4 = pd.concat(transaction4, ignore_index=True)
concatted_tran5 = pd.concat(transaction5, ignore_index=True)
concatted_tran6 = pd.concat(transaction6, ignore_index=True)

In [10]:
tran_full = pd.concat([concatted_tran1, concatted_tran2, concatted_tran3, concatted_tran4, concatted_tran5, concatted_tran6])
tran_full

,매장코드,매장명,영업일자,영수증번호,결제일시,테이블번호,총판매금액,소분류명,상품명,상품코드,판매수량,판매단가
0,T57457,라공방,20190203,238,20190203211944,포장,14000,메뉴,꿔바러우(소),28,1,14000
1,T57457,라공방,20190203,190,20190203185755,포장,14000,메뉴,꿔바러우(소),28,1,14000
2,T57457,라공방,20190203,186,20190203184828,포장,14000,메뉴,꿔바러우(소),28,1,14000
3,T57457,라공방,20190203,184,20190203183953,포장,14000,메뉴,꿔바러우(소),28,1,14000
4,T57457,라공방,20190203,165,20190203175304,포장,14000,메뉴,꿔바러우(소),28,1,14000
...,...,...,...,...,...,...,...,...,...,...,...,...
793265,U02589,(주)트레이드빌리지 강남1지점,20190227,43,20190227132202,NaN,15900,B,실버반지,900016,1,15900
793266,U02589,(주)트레이드빌리지 강남1지점,20190226,148,20190226202432,NaN,31800,B,실버반지,900016,2,15900
793267,U02589,(주)트레이드빌리지 강남1지점,20190226,141,20190226195845,NaN,15900,B,실버반지,900016,1,15900
793268,U02589,(주)트레이드빌리지 강남1지점,20190226,44,20190226134120,NaN,15900,B,실버반지,900016,1,15900
793269,U02589,(주)트레이드빌리지 강남1지점,20190226,43,20190226134059,NaN,15900,B,실버반지,900016,1,15900

In [11]:
# extract full dataset to csv file
tran_full.to_csv('../../resources/rawdata/거래데이터_full.csv', index=False)